<div id="<%= dom_id author %>">
  <div class="card-body mb-3">
  <%= link_to image_tag('default_usr.jpg',style: "width:150px;border-radius:50%;border:2px;solid:#0d6efd;"),author,class:'mb-3'%>
  </div>
</div>
