<p style="color: green"><%= notice %></p>

<h1>Authors</h1>
<br />
<div class="mt-5 mb-3" align="right">
<%= link_to "Modify", edit_user_registration_path,style: 'width:150px;',class:"btn btn-primary"%>
</div>
<div class="card">
</div>


